p {
  padding: 10px;
}

.dotted {
  border-style: dotted;
}

.dashed {
  border-style: dashed;
}
.solid {
  border-style: solid;
}
.double {
  border-style: double;
}
.groove {
  border-style: groove;
}
.ridge {
  border-style: ridge;
}
.inset {
  border-style: inset;
}
.outset {
  border-style: outset;
}
.none {
  border-style: none;
}
.mix {
  /* 시계방향 : top right bottom left */
  /* border-style: dotted dashed solid double; */

  /* 시계방향 : top right bottom left(마주보는 선모양) */
  /* border-style: dotted dashed solid; */
  border-style: dotted dashed;
}

.radius {
  border-style: solid;
  border-width: 2px;
  /* border-radius: 20px; */
  border-radius: 10px 5px 20px 30px;
}

.circle {
  border-style: solid;
  border-width: 2px;
  width: 300px;
  height: 300px;
  text-align: center;
  /* vertical-align: middle; */
  font-size: 80px;
  line-height: 300px;
  border-radius: 50%;
}
