/* border => 선두께, 선모양, 선색상 */
table {
  border-collapse: collapse;
  /* 테이블 너비 : 고정크기, 상대크기 */
  width: 90%;
}

th,
td {
  border-bottom: 1px solid black;
  padding: 8px;
  text-align: left;
}

/* 행의 마우스 오버 시 배경색 지정 */
tr:hover {
  background-color: azure;
}
