/* 전체 요소의 margin, padding 0 */
* {
  margin: 0;
  padding: 0;
}
/* ul 배경색 #333 */
.container {
  background-color: #333;
  list-style: none;
}
/* li 옆으로 */
.container li {
  float: left;
  padding: 14px 16px;
}

a {
  text-decoration: none;
}
/* 메뉴에 마우스 올리면 배경색 blueviolet 변경 */
.container li a:hover {
  background-color: blueviolet;
  padding: 14px 16px;
}

.container a:visited {
  color: white;
  padding: 14px 16px;
}

/* .clearfix 를 이용한 float 해제 */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
