.box-group .box {
  float: left;
  width: 100px;
  height: 100px;
  border: 4px dashed red;
  background-color: tomato;
  font-size: 30px;
  margin-right: -30px;
}

.box-group .box:nth-child(2n) {
  margin-top: 30px;
}

.box4 {
  position: relative;
}

.box3 {
  position: relative;
  z-index: 1;
}
