* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: yellow;
  height: 100px;
}

/* 
    Responsive Web Design(반응형 웹 디자인)


    media query
*/

@media screen and (max-width: 960px) {
  .container {
    background-color: yellowgreen;
  }
}

@media screen and (max-width: 720px) {
  .container {
    background-color: green;
  }
}

@media screen and (max-width: 480px) {
  .container {
    background-color: greenyellow;
  }
}
