/* 전체 요소의 margin,padding 0 설정 요소 크기는 border포함 */
* {
  margin: 0;
  padding: 0;
}

/* body배경색 rgb(9,100,160) */
body {
  background-color: rgb(9, 100, 160);
}
/* #container 너비 320, 바깥여백 상하 50 좌우 auto */
#container {
  width: 320px;
  margin: 50px auto;
}
/* .card 너비 300 높이 500 바깥 여백 상하20 좌우 10  테두리 색상 #0f0f0f33, 배경색 흰색 */
.card {
  width: 300px;
  height: 500px;
  margin: 20px 10px;
  border: 1px solid #0f0f0f33;
  background-color: white;
  position: relative; /* absolute 요소의 부모 지정*/
}

/* .words position 설정(absolute), 부모는 .card */
.words {
  position: absolute;
  left: 100px;
  bottom: 100px;
  text-align: center;
  padding: 10px;
  font-size: 13px;
}

@media screen and (min-width: 1720px) {
  #container {
    #container {
      width: 1710px;
      margin: 50px auto;
    }

    .card {
      float: left;
      width: 550px;
      height: 250px;
      margin: 10px;
      border: 1px solid #0f0f0f33;
      background-color: white;
      position: relative;
    }

    .words {
      position: absolute;
      left: 320px;
      bottom: 80px;
      text-align: center;
      padding: 10px;
      font-size: 13px;
      width: 200px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1719px) {
  #container {
    #container {
      width: 570px;
      margin: 50px auto;
    }

    .card {
      width: 550px;
      height: 250px;
      margin: 20px 10px;
      border: 1px solid #0f0f0f33;
      background-color: white;
      position: relative;
    }

    .words {
      position: absolute;
      left: 320px;
      bottom: 80px;
      text-align: center;
      padding: 10px;
      font-size: 13px;
      width: 200px;
    }
  }
}
